*{
	margin: 0;
	padding: 0;
}
.one{
	width: 100%;
	height: 33px;
	background-color: #f0f0f0;
}
.one ul{
	float: right;
	list-style:none;
	padding-right: 230px;
}
.one ul li{
	float:left;
	line-height: 33px;
	font-size: 12px;
	color: gray;
}
.one .one-one{
	padding-left: 15px;
}
.one .one-two{
	padding-left: 10px;
}
.one .one-three{
	padding-left: 22px;
}
.one .one-four{
	padding-left: 42px;
}
.two{
	width: 1180px;
	height: 98px;
	margin: 0 auto;
}
.two .two-one p a{
	display: block;
	width: 142px;
	height: 0;
	margin-top: 20px;
	padding-top: 54px;
	background:url(http://s02.lizi.com/images/pc/logo-08.png) no-repeat;
	overflow: hidden;
}
.two .input{
	width: 474px;
	height: 40px;
	margin: 0 auto;
	float: left;
	overflow: hidden;
	padding-top: 20px;
	padding-left: 150px;
}
}
.two .two-two input{
	
   
}
.three{
	width: 100%;
	height: 42px;
	background-color:#34495e ;
}
